
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    /**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    /**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    /**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    button
        padding: 5px 10px
    .section-block
        .section-row
            flex-direction: column
            margin: 7px 0
            label, span
                font-size: 10px
                font-family: Sora-Regular
                -webkit-text-stroke: initial
            .input-wrapper, textarea
                width: 50%
                margin-top: 8px
                input
                    margin-left: 0
    html, body
        //height: 100%
        overflow: auto
        font-size: 10px
        #root
            height: 100%
            .app
                height: initial
                min-height: 100%
                .test-creator
                    min-height: 100vh
                    height: initial
                    .publisher
                        width: 95%
                        min-height: 60%
                    .test-constructor
                        height: 100%
                        flex-direction: column
                        margin-top: 7px
                        .delete-confirm
                            position: fixed
                            width: 40%
                            height: 20%
                            display: flex
                            flex-direction: column
                            justify-content: space-around
                        .left
                            min-height: 100vh
                            height: initial
                            width: 97%
                            .test-creator-main
                                margin-bottom: 20px
                            .question
                                flex: 1
                                height: initial
                                .answer
                                    width: 65%
                                    i
                                        font-size: 17px
                                    .checkbox
                                        width: 13px
                                        height: 13px
                                        line-height: 13px
                                        i
                                            font-size: 13px
                                .arrow
                                    i
                                        font-size: 20px
                        .right
                            min-height: 100vh
                            height: initial
                            width: 97%
                            margin: 10px auto 0 auto
                            .deteils, .delete
                                margin-right: 10px

                            



    
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
    /**/
