.test-intro
    width: 60%
    //height: 60%
    padding: 20px
    display: flex
    flex-direction: column
    .preloader
        margin: auto
    .myrow
        width: 60%
        margin-bottom: 30px
        align-items: flex-start
        justify-content: flex-start
        span
            margin: 0 15px 0 0
            width: 25%
            font-weight: 600
        p
            width: 75%
    button.btn
       margin: auto auto 10px auto