.app
    height: 100%
    font-family: Roboto
    .left
        width: 50%
        height: 100%
        diplay: flex
        flex-direction: column 
    .right
        width: 50%
        height: 100% 
    .notification
        position: absolute
    input.withError
        border-color: red
    .myrow
        margin: 10px 0
        display: flex
        align-items: center
        justify-content: flex-end
        width: 55%
        position: relative
        label
            display: inline-block
            margin: auto
    .white-block
        background-color: #fff
        border-radius: 20px
        margin: 20px auto
    p
        word-break: break-all
    @keyframes fadein 
        from 
            opacity: 0
        to   
            opacity: 1

    @keyframes pulse
        0% 
            background: transparent
  
        50% 
            background: yellow
  
        100% 
            background: transparent
  

