.app
    height: 100%
    font-family: Roboto
    .left
        width: 50%
        height: 100%
        diplay: flex
        flex-direction: column 
    .right
        width: 50%
        height: 100% 
    .notification
        position: absolute
    input.withError
        border-color: red
    @keyframes fadein 
        from 
            opacity: 0
        to   
            opacity: 1
