.question-pool
    background-color: #fff
    height: 95%
    width: 90%
    border-radius: 20px
    margin: 20px auto
    .dl-item
       display: inline-flex
       width: 18%
       margin: 10px 0 10px 10px
        //justify-content: center
        //align-items: center
    .question
        background-color: $lightBlue
        border-radius: 5px
        color: $accent
        height: 56px 
        margin: 0
        padding: 0
        cursor: pointer
        .question-header
            position: relative
            width: 100%
            i
                float: right
                color: $accent
                margin: 1px 1px 0 0
                &:hover
                    color: lighten($accent, 10%)
        p
            overflow: hidden
            word-break: break-all
        &:drop
            background-color: red