.test-process
    height: 100%
    width: 100%
    display: flex
    color: $red
    position: relative
    .success-notif
        margin: auto
        padding: 30px 
        span
            font-size: 15px
            color: $red
            font-weight: bold
    .confirm
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        z-index: 5
        background-color: rgba(0,0,0,.74)
        border-radius: 10px
        border: 1px solid $red
        width: 20%
        height: 20%
        animation: fadein .7s ease
        display: flex
        flex-direction: column
        justify-content: space-around
        h2
            text-align: center
            color: $red
            font-family: 'DrukBold'
            font-size: 14px
            text-transform: uppercase
            letter-spacing: 1.5px
            -webkit-text-stroke: 1.2px black
            margin: 12px 0
        p
            font-size: 13px
            color: $red
            padding: 0 20px
            line-height: 16px
        .section-row
            display: flex
            justify-content: space-around
            button
                padding: 5px 10px